/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root{
  --color-text-primary: #353430; /* Основной текст */
  --color-text-secondary: #353430; /* Второстепенный текст */
  --color-background: #FFF1F7; /* Основной фон */
  --color-accent: #FF8DCB; /* Акцентный цвет */
  --color-border: #E0E0E0; /* Цвет границ */
  --color-highlight: #FF0070; /*Дополнительный цвет */
}
.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}