/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.page.theme_light {
  --color-button: #353430;
  --color-title: #FFC2E6;
  --color-shadow: #FF8DCB;
  --color-subtitle: #353430;
  --color-text: #353430;
  --color-background: #FFF1F7;
  --color-hover: rgba(50, 49, 45, 0.4);
  color: var(--color-text);
  background-color: var(--color-background);
  --background-image: url("../images/cover-image-light.png");

  .header_rec {
    display: none;
  }

}

@media (prefers-color-scheme: light) {
  :root {
    --color-button: #353430;
    --color-title: #FFC2E6;
    --color-shadow: #FF8DCB;
    --color-subtitle: #353430;
    --color-text: #353430;
    --color-background: #FFF1F7;
    --background-image: url("../images/cover-image-light.png");
  }

  .header_rec {
    display: none;
  }


}