/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  width: 1024px;
  margin: auto;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.header__theme-menu-list {
  display: flex;
  list-style: none; /* Отключение маркеров списка */
  padding: 0; /* Убираем внутренние отступы */
}
.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "header__theme-menu-list header__theme-menu-list"
    "header_title header_title"
    ". header_description";
}
.header__theme-menu-list {
  grid-area: header__theme-menu-list;
}
.header_title {
  grid-area: header_title;
}
.header_description {
  grid-area: header_description;
}
.first_section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "first_section-title first_section-subtitle-1 first_section-subtitle-1"
    "first_section-title first_section-description-1 first_section-description-1"
    "first_section-title first_section-subtitle-2 first_section-subtitle-2"
    "first_section-title first_section-description-2 first_section-description-2";
}
.first_section-subtitle-1 {
  grid-area: first_section-subtitle-1;
}
.first_section-description-1 {
  grid-area: first_section-description-1;
}
.first_section-subtitle-2 {
  grid-area: first_section-subtitle-2;
}
.first_section-description-2 {
  grid-area: first_section-description-2;
}
.second_section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "second_section-title . ."
    "second_section-subtitle-1 second_section-subtitle-2 second_section-subtitle-3"
    "second_section-description-1 second_section-description-2 second_section-description-3 ";
}
.second_section-title {
  grid-area: second_section-title;
}
.second_section-subtitle-1 {
  grid-area: second_section-subtitle-1;
}
.second_section-description-1 {
  grid-area: second_section-description-1;
}
.second_section-subtitle-2 {
  grid-area: second_section-subtitle-2;
}
.second_section-description-2 {
  grid-area: second_section-description-2;
}
.second_section-subtitle-3 {
  grid-area: second_section-subtitle-3;
}
.second_section-description-3 {
  grid-area: second_section-description-3;
}
.third_section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "third_section-title third_section-container third_section-container";
}
.third_section-title {
  grid-area: third_section-title;
}
.third_section-container {
  grid-area: third_section-container;
}
img {
  width: 100%;
  height: 100%;
}
.images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-template-areas: 
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
}
.sunset{
  object-fit: cover;
  grid-area: sunset;

}
.ice-cream{
  object-fit: cover;
  grid-area: ice-cream;
}
.tape{
  object-fit: cover;
  grid-area: tape;
}
.books{
  object-fit: cover;;
  grid-area: books;
}
.street{
  object-fit: cover;
  grid-area: street;
}
