
.page {
  margin: auto;
  font-family: "IBM Plex mono";
  font-weight: normal;
  background-color: var(--color-background);
  color: var(--color-text-primary);

 
}
p,
h1,
h2,
h3,
h4 {
  font-size: 18px;
}
a {
  color: var(--color-text-primary);
  text-shadow: 2px 2px 0 var(--color-accent);
  text-decoration: none;
}
a:hover {
  border-bottom: 1px solid var(--color-text-primary);
}
a:focus {
  border: 1px solid var(--color-text-primary);
}

h2 {
  color: var(--color-accent);
  margin: 0;
}
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
button {
  text-transform: lowercase;
  background: none;
  color: var(--color-accent);
  font-size: 18px;
  line-height: 27px;
  outline: none;
  padding: 0 13px 3px 13px;
  font-family: "IBM Plex mono";
}
.header__theme-menu-button_active {
  outline: 1px solid var(--color-accent);
}
.background {
  background-color: var(--color-accent);
  color: var(--color-background);
  margin: 0;
}

.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  align-content: space-between;
  grid-template-areas:
    "header__theme-menu header__theme-menu"
    "header_title header_title"
    ". header_description";
  min-height: 768px;
  padding: 21.5px;
  align-content: space-between;
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  margin-bottom: 60px;
  position: relative;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 23.87px;
  border-top: 1px solid var(--color-accent);
  border-right: 1px solid var(--color-accent);
  z-index: 1;
  margin: 21.5px 21.5px 0 21.5px;
}
.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25px;
  height: 23.87px;
  border-bottom: 1px solid var(--color-accent);
  border-left: 1px solid var(--color-accent);
  z-index: 1;
  margin: 0 21.5px 21.5px;
}
.REC {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 9px;
  height: 9px;
  border-top: 1px solid var(--color-accent);
  border-right: 1px solid var(--color-accent);
  background-color: var(--color-accent);
  border-radius: 25px;
  z-index: 1;
  margin: 30px 30px 0 21.5px;
  box-shadow: 0px 0px 4px 2px var(--color-accent);
  background: var(--color-accent);
  top: 0;
  right: 0;
}
.REC::before {
  content: "REC";
  position: absolute;
  color: var(--color-accent);
  left: -45px;
  top: 50%;
  transform: translateY(
    -50%
  );
  padding: 0 5px;
 
}
.header__theme-menu {
  grid-area: header__theme-menu;
  justify-self: center;
  align-self: center;
}
.header__theme-menu-list {
  min-width: 230px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}
.header_title {
  grid-area: header_title;
  font-weight: bold;
  color: var(--color-highlight);
  text-shadow: 4px 4px 0 var(--color-accent);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  justify-self: center;
  line-height: 82.5%;
}
.header_description {
  display: inline-block;
  grid-area: header_description;
  font-weight: bold;
}
.first_section,
.second_section,
.third_section {
  column-gap: 20px;
  align-items: start;
}
.first_section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "first_section-title first_section-container first_section-container"
    "first_section-title first_section-container first_section-container"
    "first_section-title first_section-container first_section-container"
    "first_section-title first_section-container first_section-container";
  margin-bottom: 80px;
}
.first_section-container {
  grid-area: first_section-container;
}
.first_section-title {
  grid-area: first_section-title;
}
.first_section-subtitle-1 {
  grid-area: first_section-subtitle-1;
}
.first_section-description-1 {
  grid-area: first_section-description-1;
}
.first_section-subtitle-2 {
  grid-area: first_section-subtitle-2;
}
.first_section-description-2 {
  grid-area: first_section-description-2;
}
.second_section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  grid-template-areas:
    "second_section-title . ."
    "second_section-subtitle-1 second_section-subtitle-2 second_section-subtitle-3"
    "second_section-description-1 second_section-description-2 second_section-description-3 ";
  margin-bottom: 80px;
}
.second_section-title {
  grid-area: second_section-title;
}
.second_section-subtitle-1 {
  grid-area: second_section-subtitle-1;
}
.second_section-description-1 {
  grid-area: second_section-description-1;
}
.second_section-subtitle-2 {
  grid-area: second_section-subtitle-2;
}
.second_section-description-2 {
  grid-area: second_section-description-2;
}
.second_section-subtitle-3 {
  grid-area: second_section-subtitle-3;
}
.second_section-description-3 {
  grid-area: second_section-description-3;
}

.third_section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "third_section-title third_section-container third_section-container";
  margin-bottom: 80px;
}
.third_section-title {
  grid-area: third_section-title;
}
.third_section-subtitle {
  margin-bottom: 14.5px;
}
.third_section-container {
  grid-area: third_section-container;
}
img {
  width: 100%;
  height: 100%;
}
.images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-template-areas:
    "images_title images_title images_title"
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
  margin-bottom: 60px;
}
.images_title {
  grid-area: images_title;
}
.sunset {
  object-fit: cover;
  grid-area: sunset;
}
.ice-cream {
  object-fit: cover;
  grid-area: ice-cream;
}
.tape {
  object-fit: cover;
  grid-area: tape;
}
.books {
  object-fit: cover;
  grid-area: books;
}
.street {
  object-fit: cover;
  grid-area: street;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 768px;
}

@media (max-width: 1023px) {
  .header {
    align-items: start;
    align-content: center;
  }
  .header__theme-menu {
    justify-self: end;
  }
  .header_title {
    justify-self: start;
  }
  .header__theme-menu-list {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
}
@media (max-width: 767px) {
  .header,
  .first_section,
  .second_section,
  .third_section,
  .images {
    grid-template-columns: repeat(1, 1fr);
  }
  .header {
    align-content: center;
  }
  .header__theme-menu {
    width: auto;
  }
  .header__theme-menu-list {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
  .header::after {
    margin: 0 10px 20px;
  }
  .header::before {
    margin: 10px 10px 0 10px;
  }
  .page {
    margin: 0 10px 0 10px;
  }
  .first_section {
    grid-template-areas:
      "first_section-title"
      "first_section-container";
  }
  .second_section {
    grid-template-areas:
      "second_section-title"
      "second_section-subtitle-1"
      "second_section-description-1"
      "second_section-subtitle-2"
      "second_section-description-2"
      "second_section-subtitle-3"
      "second_section-description-3";
  }
  .third_section {
    grid-template-areas:
      "third_section-title"
      "third_section-container";
  }
  .images {
    grid-template-areas:
      "images_title"
      "sunset"
      "ice-cream"
      "tape"
      "books"
      "street";
    gap: 10px;
  }
  .footer {
    min-height: 668px;
  }
}
