.page {
  margin: auto;
  font-family: "IBM Plex mono", monospace;
  font-weight: normal;
  background-color: var(--color-background);
  color: var(--color-text-primary);
  background-image: var(--background-image);
  background-size: auto 100vh;
  background-position: center top;
  background-repeat: no-repeat;
  max-width: 1440px;
}
p,
h1,
h2,
h3,
h4 {
  font-size: 18px;
}
a {
  color: var(--color-text-primary);
  text-shadow: 2px 2px 0 var(--color-accent);
  text-decoration: none;
}
a:hover {
  border-bottom: 1px solid var(--color-text-primary);
}
a:focus {
  border: 1px solid var(--color-text-primary);
}
.title {
  color: var(--color-accent);
}
.subtitle {
  color: var(--color-background);
  background-color: var(--color-accent);
}
.subtitle-ndf {
  grid-column: 2/4;
}
.paragraph {
  margin-bottom: 20px;
  color: var(--color-text-primary);
}
.paragraph:last-child {
  margin-bottom: 0;
}
h2 {
  color: var(--color-accent);
  margin: 0;
}
button {
  background: none;
  border: none;
  margin: 0;
  cursor: pointer;
  outline: inherit;
  text-transform: lowercase;
  color: var(--color-accent);
  font-size: 18px;
  line-height: 27px;
  outline: none;
  padding: 0 13px 3px 13px;
  font-family: "IBM Plex mono", monospace;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--color-accent);
  pointer-events: none;
}
.background {
  background-color: var(--color-accent);
  color: var(--color-background);
  margin: 0;
}
.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: start;
  min-height: 768px;
  padding: 21.5px;
  height: 100vh;
  min-height: 668px;
  position: relative;
}
.header__theme-menu {
  grid-column: 1/3;
  grid-row: 1;
  justify-self: center;
}
.header__theme-menu-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}
.header_title {
  grid-column: 1/3;
  grid-row: 2;
  font-weight: bold;
  color: var(--color-highlight);
  text-shadow: 4px 4px 0 var(--color-accent);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  justify-self: center;
  line-height: 82.5%;
  align-self: center;
}
.header_description {
  grid-column: 2;
  grid-row: 3;
  display: inline-block;
  font-weight: bold;
  align-self: center;
}

.main {
  margin-top: 60px;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 23.87px;
  border-top: 1px solid var(--color-accent);
  border-right: 1px solid var(--color-accent);
  z-index: 1;
  margin: 21.5px 21.5px 0 21.5px;
}
.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25px;
  height: 23.87px;
  border-bottom: 1px solid var(--color-accent);
  border-left: 1px solid var(--color-accent);
  z-index: 1;
  margin: 0 21.5px 21.5px;
}
.header_rec {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 9px;
  height: 9px;
  border-top: 1px solid var(--color-accent);
  border-right: 1px solid var(--color-accent);
  background-color: var(--color-accent);
  border-radius: 25px;
  z-index: 1;
  margin: 30px 30px 0 21.5px;
  box-shadow: 0px 0px 4px 2px var(--color-accent);
  background: var(--color-accent);
  top: 0;
  right: 0;
}
.header_rec::before {
  content: "REC";
  position: absolute;
  color: var(--color-accent);
  left: -45px;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 5px;
}

.main {
  display: grid;
  row-gap: 80px;
  margin: 60px 20px 0 20px;
}
.section-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.title {
  grid-column: 1;
}
.container {
  display: grid;
  grid-column: 2/4;
  row-gap: 10px;
}
.column {
  grid-column: 1;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.images {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "images_title images_title images_title"
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
  margin-bottom: 60px;
}
.images_title {
  grid-area: images_title;
  margin: 0;
}
.sunset {
  grid-area: sunset;
}
.ice-cream {
  grid-area: ice-cream;
}
.tape {
  grid-area: tape;
}
.books {
  grid-area: books;
}
.street {
  grid-area: street;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 768px;
  text-shadow: 2px 2px 0 var(--color-accent);
  height: 100vh;
  min-height: 668px;
}

@media (max-width: 1023px) {
  .header__theme-menu {
    align-self: center;
    justify-self: end;
    width: auto;
  }
  .header__theme-menu-list {
    flex-direction: column;
  }

  .column-ndf{
    grid-column: 1/4;
  }
}
@media (max-width: 767px) {
  .section-grid {
    grid-template-columns: repeat(1,1fr);
    row-gap: 20px;
    column-gap: 0;
  }
  .title,
  .container,
  .column {
    grid-column: 1;
  }
  .column {
    grid-column: 1;
  }

  .subtitle-ndf {
    grid-column: 1;
  }
  .main {
    row-gap: 30px;

  }
  .header {
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
  }
  .header::after {
    margin: 0 10px 20px;
  }
  .header::before {
    margin: 10px 10px 0 10px;
  }
  .header_title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
  .header_description {
    grid-column: 1/3;
  }
  .page {
    margin: 0;
  }

  .images {
    grid-template-areas:
      "images_title"
      "sunset"
      "ice-cream"
      "tape"
      "books"
      "street";
    gap: 10px;
  }
  .footer {
    min-height: 668px;
  }
}
