/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --color-button: #353430;
  --color-title: #FFC2E6;
  --color-shadow: #FF8DCB;
  --color-subtitle: #353430;
  --color-text: #353430;
  --color-background: #000028;
  --color-hover: rgba(255, 0, 112, 0.4);
  --background-image: url("../images/cover-image-dark.png");
}