/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root{
  --color-text-primary: #F1B2CE; /* Основной текст */
  --color-text-secondary: #000028; /* Второстепенный текст */
  --color-background: #000028; /* Основной фон */
  --color-accent: #FF0070; /* Акцентный цвет */
  --color-highlight: #DB00FF; /*Дополнительный цвет */
}