/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --color-button: #FF0070;
  --color-title: #DB00FF;
  --color-shadow: #FF0070;
  --color-subtitle: #000233;
  --color-text: #F1B2CE;
  --color-background: #000028;
  --color-hover: rgba(255, 0, 112, 0.4);
  --background-image: url("../images/cover-image-dark.png");
}